*{
  box-sizing: border-box;
}

body{
  font-family: sans-serif;
  color: whitesmoke;
  margin: 0;
}

p{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  color: rgb(131, 131, 131);
}

.instagram-perfil img{
  height: 35px;
}

.linkedin-perfil img{
  height: 35px;
}

.facebook-perfil img{
  height: 35px;
}

.github-perfil img{
  height: 35px;
}

header{
  display: flex;
  background-color: darkgray;
  justify-content: space-between;
  height: 70px;
  align-items: center;
  padding: 10px;
}

a{
  text-decoration: none;
  color: whitesmoke;
}

.logo{
  display: flex;
  align-items: center;
  margin-left: 10px;
  padding-right: 20px;
}

.logout img{
  align-items: center;
  display: flex;
  margin-left: 5px;
  height: 30px;
  margin-right: 20px;
}

.logo img{
  margin-right: 20px;
}

nav a{
  padding-right: 10px;
  align-items: center;
  justify-content: space-between;
}

a :hover{
  color: gray;
}

.portada{
  margin-left: auto;
  margin-right: auto;
  width: 98%;
  height: 500px;
  position: relative;
  top: 10px;
  background-image: url(/img/portada.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border: 5px solid rgb(156, 156, 156);
  border-radius: 5px;
}

.perfil{
  width: 300px;
  height: 300px;
  border-radius: 50%;
  position: relative;
  border: 5px solid rgb(156, 156, 156);
  margin-left: auto;
  margin-right: auto;
  top: -200px;
  background-image: url(img/perfil.png);
  background-position: center;
  background-size: 300px;
}

.nombre{
  color: gray;
  text-align: center;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  top: -200px;
  font-size: 25px;
}

.informacion{
  border: 5px solid darkgray;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  width: 90vw;
  background-color: darkgray;
  top: -180px;
  display: flex;
  border-radius: 5px;
  font-family: sans-serif;
  color: rgb(133, 131, 131);
  font-size: 13px;
}

.acerca{
  background-color: rgb(245, 244, 244);
  height: 10vw;
  width: 45vw;
  margin-left: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 5px solid rgb(224, 224, 224);
  font-family: sans-serif;
  color: rgb(133, 131, 131);
  font-size: 13px;
  font-family: sans-serif;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  text-align: center;
}

.contacto{
  background-color: rgb(245, 244, 244);
  height: 10vw;
  width: 45vw;
  margin-left: 60px;
  margin-right: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 5px solid rgb(224, 224, 224);
  font-size: 13px;
  font-family: sans-serif;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  text-align: center;
}