*{
  box-sizing: border-box;
}

body{
  font-family: sans-serif;
  color: whitesmoke;
  margin: 0;
}

.instagram-perfil img{
  height: 35px;
}

.linkedin-perfil img{
  height: 35px;
}

.facebook-perfil img{
  height: 35px;
}

.github-perfil img{
  height: 35px;
}

header{
  display: flex;
  background-color: darkgray;
  justify-content: space-between;
  height: 70px;
  align-items: center;
  padding: 10px;
}

a{
  text-decoration: none;
  color: whitesmoke;
}

.logo{
  display: flex;
  align-items: center;
  margin-left: 10px;
  padding-right: 20px;
}

.logout img{
  align-items: center;
  display: flex;
  margin-left: 5px;
  height: 30px;
  margin-right: 20px;
}

.logo img{
  margin-right: 20px;
}

nav a{
  padding-right: 10px;
  align-items: center;
  justify-content: space-between;
}

a :hover{
  color: gray;
}

.portada{
  margin-left: auto;
  margin-right: auto;
  width: 98%;
  height: 500px;
  position: relative;
  top: 10px;
  background-image: url(/img/portada.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border: 5px solid rgb(156, 156, 156);
  border-radius: 5px;
}

.perfil{
  width: 300px;
  height: 300px;
  border-radius: 50%;
  position: relative;
  border: 5px solid rgb(156, 156, 156);
  margin-left: auto;
  margin-right: auto;
  top: -200px;
  background-image: url(img/perfil.png);
  background-position: center;
  background-size: 300px;
}

.nombre{
  color: gray;
  text-align: center;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  top: -200px;
  font-size: 25px;
}

.info{
  font-size: 18px; 
  font-weight: 400; 
  text-align: center; 
  overflow: hidden; 
  padding: 20px; 
  border-radius: 0px 35px 0px 35px; 
  -moz-border-radius: 0px 35px 0px 35px; 
  -webkit-border-radius: 35px 0px 35px 0px; 
  border: 5px solid rgb(224, 224, 224);
  background-color: darkgray;
  width: 95%;
  top: -190px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif; 
  color: whitesmoke
}

.titulo{
  font-size: 18px; 
  font-weight: 400; 
  text-align: center; 
  overflow: hidden; 
  padding: 20px; 
  border-radius: 0px 35px 0px 35px; 
  -moz-border-radius: 0px 35px 0px 35px; 
  -webkit-border-radius: 0px 35px 0px 35px; 
  border: 5px solid rgb(224, 224, 224);
  background-color: darkgray;
  width: 95%;
  top: -160px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif; 
  color: whitesmoke 
}

  
.experiences {
  display: flex;
  flex-direction: column;
  width: 95%;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  border: 5px solid rgb(224, 224, 224);
  border-radius: 5px;
  top: -100px;
}

.experiences-body {
  background-color: rgb(180, 180, 180);
  color: rgb(182, 179, 179);
}

.wave {
  width: 100%;
  position: relative;
  top: 2px;
}

.wave_bottom {
  transform: scaleY(-1);
  top: -2px;
}

.experiences-title {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 30px;
  margin: 25px;
  color: whitesmoke;
}

.experience-date {
  font-size: 25px;
  font-weight: bold;
  color: whitesmoke;
}

.experience-company {
  font-size: 20px;
  text-transform: uppercase;
  margin-top: 5px;
}

.experience-position {
  font-weight: 500;
  font-size: 18px;
  margin-top: 20px;
}

.experience-description {
  font-weight: 400;
  font-size: 15px;
  margin-top: 10px;
}

.experience {
  padding: 25px;
  max-width: 500px;
  margin: 0 auto;
}

@media (min-width: 950px) {
  .experiences-title {
    font-size: 50px;
    margin: 35px 0;
  }

  .experience-date {
    font-size: 40px;
  }

  .experience-company {
    font-size: 25px;
  }

  .experience-position {
    font-weight: bold;
    font-size: 20px;
    margin-top: 20px;
  }

  .experience-description {
    font-size: 20px;
    margin-top: 10px;
    line-height: 1.3;
    color: whitesmoke;
  }

  .experience {
    padding: 0;
  }

  .experience_left {
    text-align: right;
    color: whitesmoke;
  }

  .experiences-grid {
    display: grid;
    grid-template-columns: auto 2px auto;
    gap: 20px 70px;
    padding: 70px;
    justify-content: center;
    max-width: 980px;
    margin: 0 auto;
    color: whitesmoke;
  }

  .line {
    background-color: whitesmoke;
    position: relative;
  }

  .line::before,
  .line::after {
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    background-color: rgb(219, 219, 219);
    border-radius: 50%;

    position: absolute;
    top: -20px;
    left: -9px;
  }

  .line::after {
    top: 100%;
    z-index: 1;
  }
}

.skills {
  max-width: 95%;
  margin: 0 auto;
  background-color: rgb(180, 180, 180);
  display: flex;
  flex-direction: column;
  top: -70px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  border: 5px solid rgb(224, 224, 224);
  border-radius: 5px;
}

.skills-title {
  font-size: 30px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
}

.skills-skill {
  font-size: 20px;
  font-weight: 500;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: 42px;
  padding: 0.5em 0.7em;
  margin: 10px;
  background-color: whitesmoke;
}

.skills-list {
  list-style: none;
  padding: 0;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

@media(min-width: 950px) {
  .skills-title {
    font-size: 50px;
  }
  
  .skills-skill {
    font-size: 30px;
    margin: 20px;
    color: gray;
  }
}